<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h2>Hello, {{ firstName }} {{ lastName }}!!!</h2>

  <ion-list>
    <ion-item>
      <ion-label>First Name:</ion-label>
      <ion-input [(ngModel)]="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Last Name:</ion-label>
      <ion-input [(ngModel)]="lastName"></ion-input>
    </ion-item>

    <ion-button (click)="saveData()">
      Save
    </ion-button>

  </ion-list>

  <ion-button shape="round"
    color="primary"
    fill="outline"
    (click)="gobackhome()">
    Home
  </ion-button>

</ion-content>
